.landing {
  height: 530px;
  &__menu {
    display: flex;
    flex-direction: column;
  }
}

.MuiButtonBase-root.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  margin: 15px;
}
